h1 {
  text-align: center;
}

h2 {
  text-align: left;
}

h3 {
  text-align: right;
}

div {
  border: .1rem solid green;
  padding: 1rem;
  padding-bottom: 2rem;
  width: 20rem;
  height: 20rem;
  text-align: justify;
}