.container{
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: auto;
}

div{
    border: 1px solid black;
    width: 50px;
    padding: 20px;
    text-align: center;
    margin: 5px;
}